.logo a {
  padding: 10px;
  height: 50px;
  width: 150px;
  background-image: url(/landingpage/assets/img/steps-logo.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 20px; 50%;
}

#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 64px;
  width: 64px;
  text-align: center;
  opacity: .8;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.app-body {
  background: -webkit-linear-gradient(top right, #0b5675, #f6f2f1);
  background: -moz-linear-gradient(top right, #0b5675, #f6f2f1);
  background: -o-linear-gradient(top right, #0b5675, #f6f2f1);
  background: -ms-linear-gradient(top right, #0b5675, #f6f2f1);
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  text-align: center;
}


.carousel .item {
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}


.carousel {
  padding: 20px;
  overflow: visible;
  height: 420px;
  margin-top: 60px;
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-inner {
  position: relative;
  overflow: visible;

}

.carousel-inner>.item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-inner>.item:first-child {
  z-index: 1998; 
}

.carousel-inner>.item.active {
  z-index: 2000;
}

.carousel-inner>.item.active + .item {
  z-index: 1999;
}

.challenge_description {
  padding: 20px;
}

.challenge_title {
    padding-top: 15px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
